.title {
	color :#C71585;
}

h1{
	color : white;
}

#titleDiv {
	background-color: #EEEEEE;
}

body {
	background-color: #B41A83;

}

.button {
	background-color: #C71585;
}
.mainDiv {
	width : 50%;
	margin : auto;
	background-color : #B41A83 ;
	box-shadow: 2px 2px 5px 5px;


}


#titleRight {
	width : 22%;
	background-color: white;
	position: absolute;
	top: 40px; right: 7px;
	 border-radius: 25px;
	 font-size:25px
}

#style {
	width : 20%;
	margin : auto;
	background-color: #B41A83;
	border : 5px dotted black;
	margin-top: 50px


}
.style2 {
	width : 10%
	background-color: red;
}

#message {
	font-size: 40px

}


